#category_navbar {
  position: absolute;
  width: 255.78px;
  height: 711px;
  left: -6px;
  top: 121px;
  }
  
  .product-container {
    margin-left: 200px; /* 수정: 카테고리 바의 너비만큼 여백을 추가하여 목록이 겹치지 않게 함 */
    padding: 20px; /* 수정: 내부 여백 추가 */
    box-sizing: border-box; /* 수정: 패딩을 포함한 전체 너비를 계산하도록 함 */
  }
  
  .product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3개의 열을 생성합니다. */
    grid-gap: 20px; /* 열과 행 간의 간격을 설정합니다. */
    justify-content: center;
  }
  
  .product-item {
    text-align: center;
  }
  
  .product-item img {
    max-width: 90%; /* 이미지의 너비를 최대화합니다. */
    height: 90%; /* 이미지의 높이를 자동으로 조정합니다. */
  }

  .sort-buttons button {
    background-color: #f0f0f0; /* Light Gray */
    border: 1px solid #ccc; /* Light Gray */
    color: #333; /* Dark Gray */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .sort-buttons button:hover {
    background-color: #ddd; /* Slightly Lighter Gray */
    border-color: #bbb; /* Slightly Darker Gray */
  }
  