{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>

    .row {
    width: 1200px; 
    margin: 0 auto;
    }
  
</style>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'orders/style.css' %}">
</head>
<!-- 위치 조정 -->
<body>
<div class='row'>
    <div class="col-md-12 text-center">
    <div id="container">
    <h1 id="name">{{ product.name }}</h1>
    <img src="{{ product.image_url }}" alt="Product Image" id="product_img">
    <p id="category">{{ product.category }}</p>
    <p id="size">{{ product.size }}</p>
    <p id="start_time">경매 시작일: {{ product.auction_start_time }}</p>
    <p id="end_time">경매 종료일: {{ product.auction_end_time }}</p>
    <p id="description">{{ product.description }}</p>
    <div class="bid-info" id="bid_info_purchase">
        <h3>낙찰 결과 정보</h3>
        <p id="bid_result">{{ users_bid_result }}</p>
    </div>


    <!-- 구매 상품 목록으로 돌아가는 버튼 -->
    <form action="{% url 'orders:purchase_history' %}" method="post">
        {% csrf_token %}
         <input type="submit" value="구매상품 목록으로" id="form">
    </form>
    </div>
    </div>
</div>
</body>
</html>
{% endblock %}