purchase_history.html
{% extends 'base.html' %}

{% block content %}
<style>
    #sales-header {
        text-align: center; /* 헤더를 가운데 정렬 */
        margin-bottom: 20px; /* 하단 여백 설정 */
    }

    #sales-buttons {
        text-align: center; /* 버튼을 가운데 정렬 */
        margin-bottom: 20px; /* 버튼 아래 여백 설정 */
    }

    #in-progress-btn,
    #completed-btn {
        display: inline-block; /* 버튼을 인라인 블록으로 설정하여 한 줄에 표시 */
        margin: 0 10px; /* 버튼 사이의 간격 조정 */
    }

    #sales-container {
        text-align: center; /* 판매 내역 컨테이너 내용을 가운데 정렬 */
    }
</style>

<div id="sales-header">
    <h2>구매 내역</h2>
</div>

<div id="sales-buttons">
    <button id="in-progress-btn">진행 중 ({{ in_progress_count }})</button>
    <button id="completed-btn">진행 종료 ({{ completed_count }})</button>
</div>

<div id="sales-container">
    <div id="in-progress-sales" class="sales">
        <h3>진행 중</h3>
        {% include 'orders/purchase_history_ing.html' %}
    </div>

    <div id="completed-sales" class="sales" style="display: none;">
        <h3>진행 종료</h3>
        {% include 'orders/purchase_history_end.html' %}
    </div>
</div>

<script>
document.getElementById("in-progress-btn").addEventListener("click", function() {
    document.getElementById("in-progress-sales").style.display = "block";
    document.getElementById("completed-sales").style.display = "none";
});

document.getElementById("completed-btn").addEventListener("click", function() {
    document.getElementById("in-progress-sales").style.display = "none";
    document.getElementById("completed-sales").style.display = "block";
});
</script>
{% endblock %}
