<div class="row">
    <div class="col-md-6">
        <div class="row">
            {% for product in in_progress_sales %}
                <div class="col-sm-6 col-md-4 mb-4">
                    <div class="card">
                        <a href="#">
                            <img src="{{ product.image_url }}" class="card-img-top food-image" alt="{{ product.name }}">
                            <div class="card-body row">
                                <h5 class="card-title">{{ product.name }}</h5>
                               
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
