{% extends 'base.html' %}
{% block content %}
<div class="product-details">
    <div class="product-info">
        <h2>{{ request.user.username }}님의 판매 종료된 {{ product.name }}의 페이지 입니다. </h2>
        <img src="{{ product.image_url }}" alt="Product Image">
        <h3>{{ product.name }}</h3>
        <p>카테고리: {{ product.category }}</p>
        <p>사이즈: {{ product.size }}</p>
        <p>상품 설명: {{ product.description }}</p>
        <p>입력하신 최소 입찰 가격: {{ product.min_bid_price }}</p>
        <p>입찰 단위: {{ product.bid_increment }}</p>
        <p>경매 시작 시간: {{ product.auction_start_time }}</p>
        <p>경매 종료 시간: {{ product.auction_end_time }}</p>


          <!-- 판매 상품 목록으로 돌아가는 버튼 -->
          <form action="{% url 'orders:sales_history' %}" method="post">
             {% csrf_token %}
             <input type="submit" value="판매상품 목록으로">
          </form>

    <div class="bid-info">
        <h3>낙찰 결과 정보</h3>
        {% if bid.bid_result %}
            <p>해당 상품의 낙찰자 : {{ bid.bidder_id.username }}님</p>
            <p>해당 상품의 최종 낙찰 가격 : {{ bid.bid_price }}</p>
            <p>해당 상품의 최종 낙찰 시간  : {{ bid.bid_time }}</p>
        {% else %}
            <h3>낙찰에 실패하였습니다.</h3>
        {% endif %}
    </div>
</div>
{% endblock %}

