{% load static %}
<!-- 네비게이션 바 -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a href="{% url 'index' %}">
      <img src="{% static 'images/main_logo.png' %}" alt="Site Logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
          <li class="nav-item" style="margin-left: 30px; font-size: 25px;">
            <a class="nav-link" href="{% url 'orders:auction_page' %}">Auction</a>
          </li>
          <li class="nav-item" style="margin-left: 30px; font-size: 25px;">
            <a class="nav-link" href="{% url 'products:product_registrater' %}">Registration</a>
          </li>
          <li class="nav-item" style="margin-left: 30px; font-size: 25px;">
            <a class="nav-link" href="{% url 'products:liked_products' %}">Like</a>
          </li>
          <!-- 사용자 인증 여부에 따라 로그인/회원가입 또는 마이페이지/로그아웃 버튼 표시 -->
          {% if user.is_authenticated %}
              <li class="nav-item" style="margin-left: 30px; font-size: 25px;">
                <a class="nav-link" href="/accounts/mypage/">My Page</a>
              </li>
              <li class="nav-item" style="margin-left: 30px; font-size: 25px;">
                <a class="nav-link" href="/accounts/logout/">Logout</a>
              </li>z
          {% else %}
              <li class="nav-item" style="margin-left: 30px; font-size: 25px;">
                <a class="nav-link" href="/accounts/login/">Login</a>
              </li>
              <li class="nav-item" style="margin-left: 30px; font-size: 25px;">
                <a class="nav-link" href="/accounts/register/">Join</a>
              </li>
          {% endif %}
      </ul>
    </div>
  </div>
</nav>