{% extends 'base.html' %}
{% block content %}
<h2>{{ request.user.username }}님이 좋아요한 상품 목록</h2>
<div class="row">
    {% for product in liked_products %}
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card h-100">
                <a href="{% url 'products:product_detail' pk=product.pk %}">
                    <img class="card-img-top" src="{{ product.image_url }}" alt="{{ product.name }}">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="col">
            <p>좋아요한 상품이 없습니다.</p>
        </div>
    {% endfor %}
</div>
{% endblock %}
